*{
    margin: 0%;
    padding: 0%;
}
body {  background-color: #dbeba2;
    text-align: center;
 } 
 #container {
    background-color: rgb(31, 170, 31);
    width: 95%;
    height: auto;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-template-rows: 50px 200px 100px 300px 300px;
    grid-template-areas: 
    "n" 
    "s"
    "a"
    "m"
    "f";
}
header {
    background-color: rgb(109, 51, 153);
    grid-area: n;
}
.grid{
    display: grid;
}

.grid nav:hover{
    border: 1px solid red;
}

#sections{
    display: flex;
    justify-content: space-between;
}

section{
    background-color: rgb(45, 112, 112);
    width: 40%;
    height: 100%;
}
#navs{
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: rgb(107, 98, 114);
    width: 20%;
    height: 100%;
    margin: auto;
}
#nav1{
    background-color: rgb(107, 98, 114);
    width: 20%;
    height: 100%;
    margin: auto;
}
#nav2{
    background-color: rgb(127, 114, 136);
    width: 20%;
    height: 100%;
    margin: auto;
}
#nav3{
    background-color: rgb(84, 74, 92);
    width: 20%;
    height: 100%;
    margin: auto;
}

#section1{
    background-color: rgb(175, 74, 74);
    width: 20%;
    height: 100%;
}
#nav4{
    background-color: rgb(114, 73, 143);
    width: 20%;
    height: 100%;
    margin: auto;
}
#nav5{
    background-color: rgb(114, 73, 143);
    width: 20%;
    height: 100%;
    margin: auto;
}
#nav6{
    background-color: rgb(114, 73, 143);
    width: 20%;
    height: 100%;
    margin: auto;
}

aside{
    background-color: rgb(45, 112, 112);
    grid-area: s;
}
#nav7{
    background-color: rgb(114, 73, 143);
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav8{
    background-color: rgb(62, 55, 68);
    width: 20%;
    height: 20%;
    border-radius: 200px;
    margin: auto;

}
#aside_2{
    background-color: rgb(101, 163, 163);
    grid-area: a;
}
#nav9{
    background-color: rgb(114, 73, 143);
    width: 20%;
    height: 20%;
    margin: auto;
    align-items: center;
}
#nav10{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 20%;
    margin: auto;
    margin-top: 10px;
}
#nav11{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 20%;
    margin: auto;
    margin-top: 10px;
}
#nav12{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 20%;
    margin: auto;
    margin-top: 10px;
}
#nav13{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 20%;
    margin: auto;
    margin-top: 10px;
}
#nav14{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 20%;
    margin: auto;
    margin-top: 10px;
}
main {
    background-color: rgb(182, 175, 175);
    grid-area: m;
    
}
#aside3{
    background-color: rgb(101, 163, 163);
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 2rem;
}
#nav15{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 10%;
    margin: auto;
    margin-top: 10px;
}
#nav16{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 10%;
    margin: auto;
    margin-top: 10px;
}

#nav17{
    background-color: rgb(114, 73, 143);
    width: 10%;
    height: 10%;
    margin: auto;
    margin-top: 10px;
}
footer {
    background-color: rgb(109, 51, 153);
    grid-area: f;
}
#nav18{
    background-color: rgb(77, 76, 78);
    width: 20%;
    height: 10%;
    margin: auto;
    margin-top: 10px;
}
#nav19{
    background-color: rgb(77, 76, 78);
    width: 20%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}
#nav20{
    background-color: rgb(77, 76, 78);
    width: 20%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}
#nav21{
    background-color: rgb(77, 76, 78);
    width: 20%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
}




