*{
    margin: 0;
    padding: 0;
}

body {  background-color: #dbeba2;
   text-align: center;
}

#container{
    background-color: rgb(100, 107, 100);
    width: 98%;
    height: 700px;
    margin: auto;
    margin-top: 1rem;
}
header{
    background-color: aliceblue;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
#navs{
    display: flex; 
    justify-content: space-between;
}

#nav1{
    background-color: rgb(163, 60, 60);
    width: 35%;
    height: 60px;
}
#nav1 img{  
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}
#nav2{
    background-color: rgb(78, 83, 87);
    width: 100%;
    height: 60px;
}
#nav3{
    background-color: rgb(44, 45, 46);
    width: 50%;
    height: 60px;
}
#nav4{
    background-color: rgb(163, 60, 60);
    width: 35%;
    height: 60px;
}

#sections-wrapper {
    display: flex; 
    justify-content: space-between;
}

section{
    background-color: rgb(44, 45, 46);
    width: 16%;
    height: auto;
}
.grid{
    display: grid;
}

.grid nav:hover{
    border: 1px solid red;
}
#nav5{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav6{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav7{
    background-color: rgb(163, 60, 60);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav8{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav9{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav10{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav11{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav12{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav13{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav14{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav15{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav16{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav17{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}
#nav18{
    background-color: rgb(66, 57, 57);
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 1px;
}


#section2{
    background-color: rgb(223, 219, 219);
    width:68%;
    height: auto;
    margin-left: auto;
}
aside{
    background-color: rgb(208, 202, 214);
    width: 100%;
    height: 150px;
    margin:auto;
}
aside img{
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
}
#nav19{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    text-align: start;
    border:solid 1px black;
}
#nav20{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 20px;
}
#sections-wrapper2{
    display: flex; 
    justify-content: space-between;
    margin-top: 2rem;
}
#aside1{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#aside2{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#aside3{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#aside4{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#navs2{
    display: flex; 
    justify-content: space-between;
}

#nav21{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 20px;
    margin: auto;
    margin-top: 1rem;
}
#nav22{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 20px;
    margin: auto;
    margin-top: 1rem;
}
#nav23{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 20px;
    margin: auto;
    margin-top: 1rem;
}
#nav24{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 20px;
    margin: auto;
    margin-top: 1rem;
}
#navs3{
    display: flex; 
    justify-content: space-between;
}
.grid2{
    display: grid;
}

.grid2 nav:hover{
    border: 1px solid red;
}
#nav25{
    background-color:rgb(36, 34, 34);
    width: 20%;
    height: 30px;
    margin: auto;
    margin-top: 1rem;
    border: solid 1px black;
}
#nav26{
    background-color:rgb(36, 34, 34);
    width: 20%;
    height: 30px;
    margin: auto;
    margin-top: 1rem;
    border: solid 1px black;
}
#nav27{
    background-color:rgb(36, 34, 34);
    width: 20%;
    height: 30px;
    margin: auto;
    margin-top: 1rem;
    border: solid 1px black;
}
#nav28{
    background-color: rgb(36, 34, 34);
    width: 20%;
    height: 30px;
    margin: auto;
    margin-top: 1rem;
    border: solid 1px black;
}

#sections-wrapper3{
    display: flex; 
    justify-content: space-between;
    margin-top: 2rem;
}
#aside5{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#aside6{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#aside7{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}
#aside8{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 80px;
    margin: auto;
}

#section3{
    background-color: rgb(202, 197, 207);
    width: 16%;
    height: auto;
    margin-left: auto;
}
#sections-wrapper4{
    display: flex; 
    justify-content: space-between;
    margin-top: 3rem;
}
#aside9{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 100px;
    margin: auto;
}
#nav29{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 20px;
    margin: auto;
    margin-top: 1rem;
}
#sections-wrapper5{
    display: flex; 
    justify-content: space-between;
    margin-top: 3rem;
}
#aside10{
    background-color: rgb(214, 51, 51);
    width: auto;
    height: 100px;
    margin: auto;
}
#nav30{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 20px;
    margin: auto;
    margin-top: 1rem;
}
#nav31{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 20px;
    margin: auto;
    margin-top: 5rem;
    border: solid 1px black;
}
#nav32{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 20px;
    margin: auto;
    margin-top: 5rem;
    border: solid 1px black;
}
footer{
    background-color: rgb(206, 30, 30);
    width: 100%;
    height: 75px;
    margin: auto;
    margin-top: 1rem;
}












